<%- include ('partials/header') %> 

<h1>Campgrounds page</h1>

<% campgrounds.forEach(function(campground) { %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>
<% }); %> 

<a href="/">Go home</a>
<a href="/campgrounds/new">Add new campground</a>


<%- include('partials/footer') %>